@model GamesForum.Models.Article
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@using System.Security.Claims;

@{
    ViewData["Title"] = "刪除文章";
}

@if (SignInManager.IsSignedIn(User) &&　User.FindFirst(ClaimTypes.NameIdentifier).Value.Equals(Model.UserId)){
<h1 class="text-white">刪除文章</h1>

<div class="mb-5">
    <h4 class="text-white">@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        @* <dt class = "col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.GameId)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.GameId)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.ArticlePhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticlePhoto)
        </dd> *@
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ArticleId" />
        <input type="submit" value="確認刪除" class="btn btn-danger" />
    </form>
    
</div>
}
else
{
<h1 class="text-danger font-weight-bold my-5">沒有權限</h1>
}
<a asp-action="Index">Back to List</a>